<!DOCTYPE html>
<html>

<head>

    <title>
        Sistema de Contratos
    </title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/menu.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css">

</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-container">
                {% for categoria, mensaje in messages %}
                    <div class="flash-message flash-{{ categoria }}">

                        {{ mensaje }}

                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <section class="page-content">

        <div class="layout">

            <aside class="sidebar">

                <div class="sidebar-logo">

                    <h2>GESTION DOCUMENTAL</h2>

                </div>

                <nav>

                    <a href="{{ url_for('clientes') }}">
                        Clientes
                    </a>

                    <a href="{{ url_for('empresas') }}">
                        Empresas Prestadoras
                    </a>

                    <a href="{{ url_for('proyectos') }}">
                        Servicios
                    </a>

                    <a href="{{ url_for('trabajadores') }}">
                        Trabajadores
                    </a>

                    <a href="{{ url_for('contratos') }}">
                        Contratos
                    </a>

                    <a href="{{ url_for('listar_plantillas') }}">
                        Almacen de plantillas de contratos
                    </a>

                    <a href="{{ url_for('logout') }}">
                        Cerrar Sesión
                    </a>

                </nav>

            </aside>

            <main class="content">

                <header class="topbar">

                    Bienvenido {{ current_user.nombre_usuario }}

                </header>

                <section class="page-content">

                    {% block content %}
                    {% endblock %}

                </section>

            </main>

        </div>
    
    </section>


    <script>
        document.addEventListener(
            'DOMContentLoaded',
            function(){
                setTimeout(
                    function(){
                        document
                        .querySelectorAll(
                            '.flash-message'
                        ).forEach(
                            function(alerta){
                                alerta.remove();
                            }
                        );
                    },9000
                );
            }
        );
    </script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>

    {% block scripts %}
    {% endblock %}

</body>

</html>