{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">

    Clientes

</h1>

<div class="card">

    <a
        href="{{ url_for('nuevo_cliente') }}"
        class="btn"
    >
        Nuevo Cliente

    </a>

    <br><br>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>RFC</th>
                <th>Representante</th>
                <th>Domicilio Fiscal</th>
                <th>Correo</th>
                <th>Nomenclatura</th>
                <th style="width:220px; text-align:center;">
                    Acciones
                </th>
            </tr>
        </thead>

        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nombre_cliente }}</td>
                    <td>{{ cliente.rfc }}</td>
                    <td>{{ cliente.representante }}</td>
                    <td>{{ cliente.dom_fiscal }}</td>
                    <td>{{ cliente.correo }}</td>
                    <td>{{ cliente.nomenclatura }}</td>
                    <td style="text-align:center;white-space:nowrap;">

                        <a href="{{ url_for('editar_cliente',id=cliente.id) }}" class="btn-primary">
                            Editar
                        </a>

                        <form method="POST" action="{{ url_for('eliminar_cliente',id=cliente.id) }}"style="display:inline-block;"
                            onsubmit="
                                return confirm(
                                    '¿Desea eliminar este cliente?'
                                );
                            "
                        >
                            <button type="submit" class="btn-danger">
                                Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}