{% extends 'base.html' %}

{% block content %}
    
    <div class="form-container">

        <div class="form-title">
            <h2>Guarda nueva plantilla de contrato</h2>
            <p> Capture la información necesaria para guardar los datos de plantilla.</p>
        </div>

        <div class="form-card">

            <div class="form-grid">

                <form method="POST">

                    <div class="form-group">
                        <label>Nombre Plantilla</label>
                        <input type="text" name="nombre" required>
                    </div>

                    <div class="form-group">
                        <label>Empresa Prestadora</label>
                        <input type="text" name="empresa_prestadora" required>
                    </div>

                    <div class="form-group">
                        <label>Archivo Word</label>
                        <input type="text" name="archivo" required>
                    </div>

                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea name="descripcion"></textarea>
                    </div>

                    <div class="form-actions">

                        <a href="{{ url_for('listar_plantillas') }}"  class="btn-secondary">
                            Volver
                        </a>

                        <button type="submit" class="btn-primary">
                            Guardar
                        </button>

                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}