{% extends 'base.html' %}

{% block content %}

        <div class="form-title">

            <h2>Plantillas de Contrato</h2>
            <p> Administración de las plantillas utilizadas para la generación de contratos.</p>

        </div>

        <div class="card">

            <div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:25px;">

                <h2>
                    Plantillas Registradas
                </h2>

                <a href="{{ url_for('nueva_plantilla') }}" class="btn">
                    + Nueva Plantilla
                </a>

            </div>

            <table>

                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Empresa Prestadora</th>
                        <th>Archivo</th>
                        <th style="width:220px; text-align:center;">
                            Acciones
                        </th>
                    </tr>
                </thead>

                <tbody>

                {% if plantillas %}

                    {% for plantilla in plantillas %}

                    <tr>
                        <td>{{ plantilla.nombre }}</td>
                        <td> {{ plantilla.empresa_prestadora }}</td>
                        <td> {{ plantilla.archivo }}</td>
                        <td style="text-align:center;white-space:nowrap;">

                            <a href="{{ url_for('editar_plantilla',id=plantilla.id) }}" class="btn-primary">
                                Editar
                            </a>

                            <form method="POST" action="{{ url_for('eliminar_plantilla',id=plantilla.id) }}"style="display:inline-block;"
                                onsubmit="
                                    return confirm(
                                        '¿Desea eliminar esta plantilla?'
                                    );
                                "
                            >
                                <button type="submit" class="btn-danger">
                                    Eliminar
                                </button>
                            </form>
                        </td>
                    </tr>

                    {% endfor %}

                {% else %}

                    <tr>
                        <td colspan="4" style="text-align:center;padding:30px;color:#64748b;">
                            No existen plantillas registradas.
                        </td>
                    </tr>

                {% endif %}

                </tbody>

            </table>

        </div>

{% endblock %}