<html>
    <head>  
        <title> Contratos </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>

        <a href="/">🏠 Inicio</a>
        <br><br>

        <h2>Plantillas Guardadas</h2>

        <a href="{{ url_for('nueva_plantilla') }}">
            Nueva plantilla
        </a>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Empresa</th>
                    <th>Archivo</th>
                    <th>EDITAR ARCHIVO</th>
                </tr>
            </thead>

            <tbody>

                {% for plantilla in plantillas %}

                <tr>
                    <td>{{ plantilla.nombre }}</td>
                    <td>{{ plantilla.empresa_prestadora }}</td>
                    <td>{{ plantilla.archivo }}</td>
                    <td> 
                        <a href="{{ url_for('editar_plantilla', id=plantilla.id) }}" class="btn-primary">Editar</a>
                        <form method="POST" action="{{ url_for('eliminar_plantilla', id=plantilla.id) }}" style="display:inline;" onsubmit="
                            return confirm(
                                '¿Eliminar plantilla?'
                            );
                        ">
                            <button type="submit" class="btn-danger">
                                Eliminar
                            </button>

                        </form>
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </body>


</html>