{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">
    Servicios
</h1>

<div class="card">
    <a href="{{ url_for('nuevo_proyecto') }}" class="btn">
        Nuevo Servicio
    </a>

    <br><br>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Folio REPSE</th>
                <th>Folio Actividad REPSE</th>
                <th>Empresa servicio</th>
                <th>Tipo Servicio</th>
                <th style="width:220px; text-align:center;">
                    Acciones
                </th>

            </tr>
        </thead>

        <tbody>
            {% for proyecto in proyectos %}
                <tr>
                    <td>{{ proyecto.id }}</td>
                    <td>{{ proyecto.nombre_proyecto }}</td>
                    <td>{{ proyecto.folio_repse }}</td>
                    <td>{{ proyecto.act_repse }}</td>
                    <td>
                        {% if proyecto.empresa %}
                            {{ proyecto.empresa.nombre }}
                        {% else %}
                            Sin empresa
                        {% endif %}
                    </td>
                    <td>{{ proyecto.tipo_servicio }}</td>
                    <td style="text-align:center;white-space:nowrap;">
                        <a href="{{ url_for('editar_servicio',id=proyecto.id) }}" class="btn-primary">
                            Editar
                        </a>

                        <form method="POST" action="{{ url_for('eliminar_servicio',id=proyecto.id) }}"style="display:inline-block;"
                            onsubmit="
                                return confirm(
                                    '¿Desea eliminar esta plantilla?'
                                );
                            "
                        >
                            <button type="submit" class="btn-danger">
                                Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}