{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">

    Trabajadores

</h1>

<div class="card">

    <a href="{{ url_for('nuevo_trabajador') }}" class="btn">
        Nuevo Trabajador
    </a>

    <a href="{{ url_for('importar_trabajadores') }}" class="btn">
        Importar Excel
    </a>

    <br><br>
    <table id="tablaTrabajadores">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>CURP</th>
                <th>RFC</th>
                <th>NSS</th>
                <th>Salario Base</th>
                <th>Puesto</th>
                <th>Actividades que realiza</th>
                <th>Empresa en la que labora</th>
                <th style="width:220px; text-align:center;">
                    Acciones
                </th>
            </tr>
        </thead>

        <tbody>
            {% for trabajador in trabajadores %}
                <tr>
                    <td>{{ trabajador.id }}</td>
                    <td>{{ trabajador.nombre_trabajador }}</td>
                    <td>{{ trabajador.curp }}</td>
                    <td>{{ trabajador.rfc }}</td>
                    <td>{{ trabajador.nss }}</td>
                    <td>{{ trabajador.salario_base }}</td>
                    <td>{{ trabajador.puesto }}</td>
                    <td>{{ trabajador.actividades }}</td>
                    <td>
                        {% if trabajador.empresa %}
                            {{ trabajador.empresa.nombre }}
                        {% else %}
                            Sin empresa
                        {% endif %}
                    </td>
                    <td style="text-align:center;white-space:nowrap;">
                        <a href="{{ url_for('editar_trabajador',id=trabajador.id) }}" class="btn-primary">
                            Editar Trabajador
                        </a>

                        <form method="POST" action="{{ url_for('eliminar_trabajador',id=trabajador.id) }}"style="display:inline-block;"
                            onsubmit="
                                return confirm(
                                    '¿Desea eliminar esta Trabajador?'
                                );
                            "
                        >
                            <button type="submit" class="btn-danger">
                                Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% block scripts %}

<script src="{{ url_for('static',
filename='js/datatables.js') }}"></script>

<script>

    inicializarTabla(
        "#tablaTrabajadores"
    );

</script>

{% endblock %}

{% endblock %}